.card {
  position: relative;
  color: #fff;
  padding: 20px 10px 40px;
  margin: 20px 0px;
  background: none;
}

.card:hover {
  text-decoration: none;
  color: #f1f1f1;
}

.card:hover .icon i {
  font-size: 100px;
  transition: 1s;
  -webkit-transition: 1s;
}

.card .inner {
  padding: 5px 10px 0 10px;
}

.card h3 {
  font-size: 27px;
  font-weight: bold;
  margin: 0 0 8px 0;
  white-space: nowrap;
  overflow: hidden; /* Add this line to handle overflow */
  text-overflow: ellipsis; /* Add this line to display ellipsis (...) for overflowed text */
  padding: 0;
  text-align: left;
}

.card p {
  font-size: 15px;
}

.card .icon {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 72px;
  color: rgba(0, 0, 0, 0.15);
}

.card .card-footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center;
  padding: 3px 0;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  text-decoration: none;
}

.card:hover .card-footer {
  background: rgba(0, 0, 0, 0.3);
}

.bg-blue {
  background-color: #00c0ef !important;
}

.bg-green {
  background-color: #00a65a !important;
}

.bg-orange {
  background-color: #f39c12 !important;
}

.bg-red {
  background-color: #d9534f !important;
}

